

<h1>Ajouter une personne</h1>
	<form action="#" method="POST">
		<label class="labelC">Nom : </label><input class="champ" type="text" name="per_nom">
		<label class="labelC">Telephone : </label><input class="champ" type="text" name="per_tel">
		<label class="labelC">Login : </label><input class="champ" type="text" name="per_login"><br>
		<label class="labelC">Prenom : </label><input class="champ" type="text" name="per_prenom">
		<label class="labelC">Mail : </label><input class="champ" type="text" name="per_mail">
		<label class="labelC">Mot de Passe : </label><input autocomplete="off" class="champ" type="password" name="per_pwd">
		<br>
		<label class="label">Categorie : </label>
		<input class="radio" type="radio" name="categorie" value="Etu" checked>Etudiant
		<input class="radio" type="radio" name="categorie" value="Per">Personnel
		<br>
		<input class="bouton" type="submit" value="Valider">
	</form>
