{{#if this.data}}

<!--
 <a href="#">précédent</a>
 <p> ici la tronche du mec </p>
 <a href="#">suivant</a>
--> <p> COUCOU </p>

{{else}}
	Cliquer sur une image :
<br><br><br><br>
		<div id="vipab">
    {{#each photo}}
        <a href= "/album/Album3/{{this.numV}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
    {{/each}}
	</div><!-- fin div vipab> -->
    <br><br>

		<button><a href= "/album" >  << Début </a></button>
		<button><a href= "/album/Album2" > < Précédent </a></button>
		<button><a href= "/album/Album4" > Suivant ></a></button>
		<button><a href= "/album/Album3" > Fin >> </a></button>


{{/if}}
