{{#if this.data}}
 <a href="#">précédent</a>
 <p> ici la tronche du mec </p>
 <a href="#">suivant</a>

{{else}}
	Cliquer sur une image : {{#each lettres}}
	<a href= "/album/{{this.image}}" >{{this.lettre}} </a>
{{/each}}
{{/if}}
