{{#if this.data}}

<p> Une erreur est survenue <a href= "/album/" >cliquer ici ! </a></p>

{{else}}
	Cliquer sur une image :
<br><br><br><br>
		<div id="vipab">
    {{#each numV}}
        <a href= "/album/{{this.numV}}/{{this.num}}" ><img id="vipAlbum" src="/images/vip/{{this.photo}}" height="100" width="100"></a>
    {{/each}}
	</div><!-- fin div vipab> -->
    <br><br>

		<button><a href= "/album" >  << Début </a></button>
		<button><a href= "/album-3" > < Précédent </a></button>


{{/if}}
