body {
    font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
    background-image:-webkit-linear-gradient(#9f0909, #4e0000);
    background-image:-o-linear-gradient(#9f0909, #4e0000);
    background-image:linear-gradient(#32566f, #4e0000);
    background-size: 1rem 200rem;
    font-size:0.8em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #000000;
}
.monBody #container {
    width: 1300px;
    margin: 0 auto;
    background:#ffffff;
}
.monBody #header {
    height:140px;
    background-color:#000;
    color:#fff;
}

.menu_haut {background-color:#000;color:#fff;margin-top:-13px;width:100%;}
.menu_haut ul {
	width:100%;
	text-align:center;
	height:30px;
	margin-left:-50px;
	margin-right:-50px;
	}
.menu_haut li {
	text-decoration:none;
	font-weight:bold;
	display:inline;
	font-size:14px;
	padding:10px 10px 10px 10px;
	color:#fff;
	}
.menu_haut li a {
	color: #fff;
	text-decoration: none;
	display: inline;
	height: 100%;
	border: 0 none;
}
.menu_haut li a:hover {
	color:#000;
	background:#eee;
}

.monBody #contenu {
    padding:20px;
    overflow: auto;
}
.monBody #footer {
    padding: 0 10px;
    font-size:0.8em;
    text-align:center;
    height:150px;
    background:url(/image/footer.jpg) no-repeat;
}
.baniere{float:left;
  margin-top:20px;
  margin-left:5px;
  border:none;}
.baniere img{
  border:none;
}

#LogoNode {
    max-height: 20%;
    max-width: 20%;
}

a  {
    text-decoration:none;
    color:#0072ff;
}

.traitVertical {
  border-left: 1px white solid;
}

#vipab1{
  margin-left: 28em;
  width: 40em;
}

button{
  margin-top: 10px;
  height: 3em;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
}
/*--------------------------------REPERROIRE --------------------------*/
#lettre {
  font-size: 20px;
}
#lettre a{
  margin-right: 1em;
}

/* ------------------------------- IMAGES ---------------------------*/

img{
  margin-right: 1em;
  margin-bottom: 1em;
}

#repVip{
  width: 50em;
  margin-left: 25%;
}

#repVip p{
  font-size: 15px;
  margin-top: 1em;
  margin-right: 1em;
  color: #32566f;
}

/*----------------------- infos Vip -----------------------------*/
#img1 {
  float: left;
  margin-left: 15em;
  margin-top: 1em;
}

#infoVip1{
  width: 900px;
  float: right;
  text-align: left;
}

#infoVip2{
  margin-left: 15em;
  margin-top: 25em;
}

#infoVip1 p{
  margin-bottom: 25px;
  text-align: left;
}

#infoVip2 p{

  margin-bottom: 25px;
  text-align: left;
}

#infoVip2 li{
  text-align: left;
}

#repVip2{
  margin-left: -15em;
}
/* -------------------------------------- ALBUM ----------------------------*/
#vipphoto{
  margin-left: 5em;
  text-align: left;
  float: left;
  font-size: 20px;
}
#vipab{
  float: right;
  width: 30em;
  border-left: 5px solid #38475b;
}

#vipphoto h2{
  text-align: center;
}

#photo{
  float: left;
}
#suiv{
  margin-top: 21em;
}
#pre{
  margin-top: 1em;
  margin-left: 15em;
}

#com{
  width: 400px;
  margin-top: 1em;
  float: right;
}
